# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.pyc
core/__pycache__/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Flask
instance/
.webassets-cache

# Archivos temporales y procesados
uploads/*
!uploads/.gitkeep
output/*
!output/.gitkeep
logs/*
!logs/.gitkeep

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Sistema operativo
.DS_Store
Thumbs.db

# Entornos virtuales
venv/
ENV/
.env
